<!doctype html>
<html>
	<head>
		<title>{{ title }} - Aaron Adler</title>

		<!-- Stylesheets: -->
		<link type="text/css" rel="stylesheet" href="/styles/frame.css" />
		<link type="text/css" rel="stylesheet" href="/styles/main.css" />

		<!-- Fonts: -->
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<span class="center">
				<ul>
					<li><a href="/" class="transition">Aaron Adler</a></li>
					<li><a href="/projects/" class="transition">Projects</a></li>
					<li><a href="/blog/" class="transition">Blog</a></li>
					<li><a href="https://gitlab.com/u/aaron235">Gitlab</a></li>
				</ul>
			</span>
		</header>
		<!-- the footer is up here so it loads before the content to avoid flickering -->
		<footer>
			<span class="center">
				<ul>
					<li>Email: <a href="mailto:contact@aaronadler.me">contact@aaronadler.me</a></li>
					<li>Phone: <a href="tel:13604812815">1 (360) 481 2815</a></li>
				</ul>
			</span>
		</footer>

		<main>
			<h1>{{ main.header }}</h1>
			<h2>{{ main.subheader }}</h2>

			{{#each main.entries}}
				<div class="entry">
					<h3>{{ name }}</h3>
					<div>
						{{{ text }}}
					</div>
				</div>
			{{/each}}

		</main>

		<!-- Scripts: -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TimelineLite.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/plugins/CSSPlugin.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sizzle/2.2.0/sizzle.min.js"></script>

		<script type="text/javascript" src="/scripts/animations.js"></script>
		<!-- Code highlighting: -->
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

	</body>
</html>
