$fonts-serif: "Alegreya", serif
$fonts-sans:  "Alegerya Sans", sans-serif

$black: rgb( 0, 0, 0 )
$gray:  #333
$gray-light: #666

$red:  #770000
$blue: #026BA3

@mixin border-radius( $radius )
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

@mixin dotted-ul( $color )
	border-bottom: 1px dotted $color

.dotted-ul-white
	@include dotted-ul( #FFF )

html, body, ul
	margin: 0
	padding: 0
	font-family: $fonts-sans

html, body
	overflow-x: hidden
	width: 100%
	height: 100%

a
	text-decoration: none
	color: inherit

p
	font-family: $fonts-serif

h1, h2, h3, h4, h5, h6
	font-family: $fonts-sans
