.dotted-ul-white {
  border-bottom: 1px dotted #FFF; }

html, body, ul {
  margin: 0;
  padding: 0;
  font-family: "Alegerya Sans", sans-serif; }

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-family: "Alegreya", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegerya Sans", sans-serif; }

header, footer {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1em;
  background-color: black;
  font-family: "Alegreya", serif;
  color: white; }

header {
  top: 0; }

footer {
  bottom: 0; }

header a,
footer a {
  @border-radius( 2px );
  padding-right: 0.25em;
  padding-left: 0.25em;
  color: white; }

footer a {
  padding: 0; }

.right,
.left,
.center {
  white-space: nowrap; }

header .right,
footer .right {
  float: right;
  margin-right: 2em; }

header .left,
footer .left {
  float: left;
  margin-left: 2em; }

header .center,
footer .center {
  display: block;
  width: 100%;
  text-align: center; }

header ul,
footer ul {
  list-style-type: none;
  display: inline;
  font-family: inherit; }
  header ul li,
  footer ul li {
    display: inline;
    margin: 0;
    margin-right: -1px;
    margin-left: -1px;
    border-left: 1px solid white;
    padding: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em; }
  header ul li:first-child,
  footer ul li:first-child {
    border-left: 0; }

/*# sourceMappingURL=frame.css.map */
