.dotted-ul-white {
  border-bottom: 1px dotted #FFF; }

html, body, ul {
  margin: 0;
  padding: 0;
  font-family: "Alegerya Sans", sans-serif; }

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-family: "Alegreya", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegerya Sans", sans-serif; }

main {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: auto;
  padding: 6em; }

.test {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black; }

/*# sourceMappingURL=main.css.map */
